<%- include("partials/header.ejs") %>
<div class="container" style="height: 50vh">
  <h3 class="home-h3 text-center">To write a post</h3>
  <h1 class="home-h1 text-center">Go Down</h1>
</div>
<div class="svg">
  <svg id="eAxRdsO0evZ1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 300 300" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
      <line x1="0" y1="-143.91901" x2="0" y2="143.919011" transform="translate(150 134.319608)"
          fill="" stroke="black" stroke-width="3" />
      <line x1="-3.240397" y1="4.2136" x2="3.240397" y2="-4.213599"
          transform="translate(153.240397 274.02502)" fill="none" stroke="black" stroke-width="3" />
      <line x1="-3.350382" y1="-4.213599" x2="3.350382" y2="4.213599"
          transform="translate(146.649618 274.02502)" fill="none" stroke="black" stroke-width="3" />
      <path d="M151.067131,278.8158c-.738865.968069-1.862806.445208-2.096738,0"
          transform="translate(0 0.000001)" fill="none" stroke="black" stroke-width="0.6" />
      <path
          d="M149.38974,278.25667c.03502.05836.55493.73914.39605.7921-.07773.02591-.45357-.47006-.53583-.44264-.0622.02073.52371.71575.58243.06989.01045-.11497.02883.25103.11649.32616.11716.10042.79464-.1474.8387-.27957.06014-.18041-.9523-.54892-1.11826-.46594-.32368.16184,1.17113.65703.60572.23297"
          transform="translate(0 0.000001)" fill="none" stroke="black" stroke-width="0.6" />
  </svg>
  <div class="container  d-flex align-items-center justify-content-center" style="margin-bottom: 50px;">
  <a href="/post" class=" btn btn-dark btn-lg" role="button" > Write a post+</a></div>
</div>
<%- include("partials/footer.ejs") %>