*{
    font-family: "Kode Mono", monospace;
}
.home-h1{
    font-size: 10rem;
    /* margin-top: 150px; */
}
.home-h3{
    margin-top: 150px;
}

.svg{
    margin-top: 50px;
}

.plus-btn{
    position:fixed;
    bottom: 10%;
    right: 5%;
}